<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Upload Image</h2>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imageUpload">Choose image</label>
                <input type="file" class="form-control-file" id="imageUpload" name="img_file">
                <img src="" height="200" alt="Image preview..." id="img-preview" hidden>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <h2 id="prediction" hidden></h2>
    </div>

    <script>
        // Image preview
        const imgUpload = document.getElementById('imageUpload');
        const imgPreview = document.getElementById('img-preview');


        imgUpload.addEventListener('change', function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();

                reader.addEventListener('load', function () {
                    imgPreview.setAttribute('src', this.result);
                });

                reader.readAsDataURL(file);
                imgPreview.hidden = false;

            } else {
                imgPreview.setAttribute('src', '');
                imgPreview.hidden = true;
            }
        });

        // Display result
        const result = document.getElementById('prediction');
        // set result value
        result.innerText = "{{ prediction }}";
        // check if prediction is not empty
        if (result.innerText !== "None") {
            result.hidden = false;
        } else {
            result.hidden = true;
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>